* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&display=swap');

/* Style pour les titres de niveau 1 */
h1 {
    color: rgb(255, 0, 0); /* Couleur du texte en rouge */
    text-align:  left; /* Alignement du texte au centre */
}

/* Style pour les titres de niveau 2 */
h2 {
    color: rgb(0, 0, 255); /* Couleur du texte en bleu */
    text-align: center; /* Alignement du texte au centre */
}

h3 {
    color: rgb(0, 255, 0); /* Couleur du texte en vert */
    text-align: center; /* Alignement du texte au centre */
}

section > p{

}

section > #text1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}